body {
    background-color: rgb(43, 43, 43);
    color: brown;
    background-image: url(./papel2.jpg);
    background-size: 100%;
    background-position: top;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px rgb(75, 19, 19);
}

.titulo {
    color: rgb(160, 70, 70);
    font-size: 52px;

    font-family: 'Courier New', Courier, monospace;
}

.container_add {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 20px 0 18px 60px;
}

#task_name {
    height: 48px;
    color: brown;
    border: solid 3px rgb(247, 62, 62);
    background-color: rgba(0, 0, 0, 0.247);
    border-radius: 5px;
    font-size: 24px;
    width: 55%;
    margin: 0 20px;
    border-top-color: rgb(235, 110, 110);
    border-left-color: rgb(235, 110, 110);
}

input::placeholder {
    text-align: center;
    width: 100%;
    color: rgba(0, 0, 0, 0.562);
    font-family: 'Courier New', Courier, monospace;

}

button {
    width: 150px;
    font-size: 24px;
    padding: 14px;
    background-color: rgb(167, 69, 69);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #fffdfd;
}

.container-lista {
    display: flex;
    align-items: center;
    margin: 0 250px;

}

.task-checkbox {
    appearance: none;
    border: solid 2px red;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin: 0;
    margin-right: 10px;
    cursor: pointer;


}

.task-checkbox:checked::before {
    content: '\2713';
    
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 20px;
    
    font-size: 16px;
    font-weight: bold;
    
    color: #e70c0c;
   
}

.list-item {
    font-size: 30px;
    margin-bottom: 9px;
    list-style-type: none;


}